@charset "utf-8";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* html */
html {
    background-color: #ffffff;
    color: #000000;
}
a {
    text-decoration: none;
}

.site-container {
    margin: 0 auto;
}

/* header */
#header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    width: 100%;
}
#header-logo-img {
    height: 50px;
}
#header-nav-wrapper {
    display: flex;
}
#header-lang-select-outer {
    padding: 0px 15px;
}
#header-lang-select {
    background-color: #ffffff;
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/down_arrow.png);
    background-size: 18px 18px;
    background-position: right 10px center;
    border-bottom: solid 5px #38b6ff;
    cursor: pointer;
    font-weight: 550;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 45px;
}
#header-search-box-outer {
    padding: 0px 15px;
}
#header-search-box {
    background-color: #ffffff;
    border: solid 2px #c0c0c0;
    border-radius: 100vh;
    padding: 5px 10px;
}
#header-search-btn {
    background-color: #38b6ff;
    border-radius: 100vh;
    color: #ffffff;
    padding: 5px 10px;
}

@media screen and (max-width: 851px) {
    #header {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #header-lang-select {
        padding: 0 0;
        padding-right: 20px;
    }
    #header-search-box-outer {
        padding: 0 0;
    }
    #header-search-box {
        width: 110px;
        overflow: hidden;
    }
}

/* site-top */
#site-top-img {
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5);
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/site_top_img_02.jpg);
    background-size: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#site-top-title-outer {
    color: #ffffff;
    font-family: 'Caveat', cursive;
}
#site-top-title {
    font-size: 80px;
}
#site-top-subtitle {
    font-size: 30px;
}

@media screen and (max-width: 851px) {
    #site-top-title {
        font-size: 40px;
    }
    #site-top-subtitle {
        font-size: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media screen and (max-width: 621px) {
    #site-top-img {
        background-size: auto 100%;
    }
}


/* section01 (分類別フレーズまとめ) */
.section01 {
    padding: 40px 0;
}
.section01-heading {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    border-left: solid 5px #38b6ff;
    background: #eaf6fd;
    max-width: 80%;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
}
.section01-articles-wrapper {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.section01-articles {
    margin: 40px auto;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    background-size: 300px 200px;
    background-position: top;
    border-radius: 0.5vh;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    position: relative;
}
.section01-articles:hover {
    opacity: 0.7;
    cursor: pointer;
}
.section01-articles-title {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    margin: 0 30px;
    margin-top: 210px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.section01-articles-date {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #707070;
    position: absolute;
    bottom: 0;
    margin: 0 20px;
    margin-bottom: 20px;
}


/* section01-category01 (Before School) */
#section01-category01-article01 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/01.jpg);
}
#section01-category01-article02 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/02.jpg);
}
#section01-category01-article03 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/03.jpg);
}
#section01-category01-article04 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/04.jpg);
}
#section01-category01-article05 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/05.jpg);
}
#section01-category01-article06 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/06.jpg);
}
#section01-category01-article07 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/07.jpg);
}
#section01-category01-article08 {
    background-image: url(https://raw.githubusercontent.com/MarronCMD/UploadImages/refs/heads/main/images/articles/category01/08.jpg);
}
