@charset "utf-8";

/* Import */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

/* HTML */
.hidden {
    display: none;
}

/* Header */

/* Navigation */

/* Main */
#main-search-box-wrapper {
    width: 70vw;
    max-width: 600px;

    display: flex;
    justify-content: center;

    border: #000000 solid 2px;
    border-radius: 100vh;

    margin: 60px auto;
}
#main-search-btn {
    height: 40px;

    padding: 0 10px;

    margin: auto 0;
}
#main-search-box {
    height: 60px;
    width: 100%;

    padding-right: 20px;
    
    font-size: 25px;
    font-weight: 600;
    color: #000000;

    outline: none;
}

/* Art */
#arts {
    margin-bottom: 30px;
}
.art-wrapper {
    height: auto;
    width: 80vw;

    margin: 0 auto;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
}
.art {
    height: auto;
    width: 240px;

    margin: 10px 10px;

    background-color: #f4f4f4;
    border-radius: 15px;
}
.art:hover {
    opacity: 0.6;
    cursor: pointer;
}
.art-img {
    height: 160px;
    width: 240px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.art-heading {
    padding: 5px 15px;
    padding-bottom: 20px;

    font-weight: 450;
    font-size: 20px;
}

/* Popup */

/* Footer */

/* Responsive 768px ~ 1024px */
@media screen and (max-width: 1024px) {
    /* Main */
    #main-search-box-wrapper {
        max-width: 450px;

        margin: 45px auto;
    }
    #main-search-btn {
        height: 30px;

        padding: 0 7.5px;
    }
    #main-search-box {
        height: 45px;

        padding-right: 15px;

        font-size: 18px;
    }

    /* Art */
    .art-wrapper {
        width: 80vw;

        grid-template-columns: repeat(auto-fit, 230px);
    }
    .art {
        height: auto;
        width: 210px;

        margin: 10px 10px;
    }
    .art-img {
        height: 140px;
        width: 210px;
    }
}

/* Responsive ~767px */
@media screen and (max-width: 767px) {
    /* Main */
    #main-search-box-wrapper {
        margin: 30px auto;
    }
    #main-search-btn {
        height: 25px;

        padding: 0 7.5px;
    }
    #main-search-box {
        height: 40px;

        padding-right: 15px;

        font-size: 16px;
    }

    /* Sect */
    .art-wrapper {
        width: 95vw;

        grid-template-columns: repeat(auto-fit, 230px);
    }
    .art {
        height: auto;
        width: 210px;

        margin: 10px 10px;
    }
    .art-img {
        height: 140px;
        width: 210px;
    }
}

/* Responsive ~512px */
@media screen and (max-width: 512px) {
    /* Sect */
    .art-wrapper {
        width: 95vw;

        grid-template-columns: repeat(auto-fit, 45vw);
    }
    .art {
        width: 39vw;
        max-width: 210px;

        margin: 10px 3vw;
    }
    .art-img {
        height: 26vw;
        max-height: 140px;
        width: 39vw;
        max-width: 210px;
    }
}

