@charset "utf-8";

/* Import */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

/* HTML */
html {
    color: #000000;
    background-color: #ffffff;

    font-family: "DM Sans", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.hidden {
    display: none;
}

/* Header */
#header {
    height: 70px;
    width: auto;
    
    padding: 10px 4vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    position: sticky;
    top: 0;

    background-color: #ffffff;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.5);
}
#header-humberger {
    height: 50px;
    padding-right: 2vh;
}
#header-humberger:hover {
    cursor: pointer;
}
#header-logo {
    height: 50px;
}
#header-lang-selecter {
    height: 40px;
    width: 220px;

    padding: 0 10px;

    background-image: url(../images/header/down_arrow.png);
    background-size: 25px;
    background-position: right 10px center;

    font-size: 20px;
    font-weight: 500;
    
    cursor: pointer;
    outline: none;

    border-bottom: 4px solid #3f3f3f;
}

/* Navigation */
#nav {
    height: 100vh;
    width: 300px;

    position: fixed;
    top: 0;
    left: -100%;
    z-index: 150;

    padding: 30px 40px;

    background-color: #ffffff;
    box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.5);
    
    transition: 0.2s;
}
.nav-list-item {
    color: #000000;
    font-size: 25px;

    margin: 8px 0;
}
.nav-list-item-num {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;

    margin-right: 7px;

    border-bottom: 2px solid #000044;
}
#nav-close {
    width: 100px;
    height: 50px;

    font-size: 25px;

    position: absolute;
    left: 100px;
    bottom: 30px;
}
#nav-close:hover {
    cursor: pointer;
    color: red;
}
#nav-bg {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 149;

    background-color: #000000;
    opacity: 0.4;

    transition: 0.2s;

    display: none;
}



/* Main */
#main {
    margin-top: 50px;
}
#main-title-wrapper {
    text-align: center;
}
#main-title {
    font-family: "Anton", sans-serif;
    font-size: 55px;
    font-weight: 400;
    color: #4a9ee6;
}
#main-title-ul {
    width: 80vw;
    max-width: 1080px;

    margin: 0 auto;

    border: #4a9ee6 solid 4px;
}
#main-search-box-wrapper {
    width: 70vw;
    max-width: 600px;

    display: flex;
    justify-content: center;

    border: #000000 solid 2px;
    border-radius: 100vh;

    margin: 60px auto;
}
#main-search-btn {
    height: 40px;

    padding: 0 10px;

    margin: auto 0;
}
#main-search-box {
    height: 60px;
    width: 100%;

    padding-right: 20px;
    
    font-size: 25px;
    font-weight: 600;
    color: #000000;

    outline: none;
}

/* Art */
.art-wrapper {
    height: auto;
    width: 80vw;

    margin: 0 auto;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
}
.art {
    height: auto;
    width: 240px;

    margin: 10px 10px;

    background-color: #f4f4f4;
    border-radius: 15px;
}
.art:hover {
    opacity: 0.6;
    cursor: pointer;
}
.art-img {
    height: 160px;
    width: 240px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.art-heading {
    padding: 5px 15px;
    padding-bottom: 20px;

    font-weight: 450;
    font-size: 20px;
}

/* Popup */
.art-popup-bg {
    height: 100vh;
    width: 100vw;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: gray;
    opacity: 0.5;
}
.art-popup {
    height: 600px;
    width: 900px;

    position: fixed;
    top: 50vh;
    left: 50vw;
    z-index: 101;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    border-radius: 10px;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.art-popup::-webkit-scrollbar {
    display: none;
}
.art-popup-heading-wrapper {
    height: 70px;
    width: auto;

    display: flex;
    justify-content: left;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;

    background-color: #4a9ee6;
}
.art-popup-heading-icon {
    height: 50px;

    padding: 0 10px;
}
.art-popup-heading {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.art-popup-phrase-wrapper {
    margin: 20px 30px;
}
.art-popup-phrase {
    font-size: 25px;
    font-weight: 300;
    white-space: nowrap;
}
.art-popup-phrase.en {
    font-family: "Playwrite NZ Basic", cursive;
}
.art-popup-phrase.pron {
    padding-left: 30px;

    font-family: "Playwrite NZ Basic", cursive;
    color: #808080;
}
.art-popup-phrase.ja {
    padding-left: 30px;

    font-family: "Sawarabi Gothic", sans-serif;
    color: #808080;
}
.art-popup-cb {
    display: none;
}
.art-popup-cb:not(:checked) + .art-popup-bg {
    display: none;
}
.art-popup-cb:not(:checked) + * + .art-popup {
    display: none;
}


/* Footer */
#footer {
    text-align: center;
    
    background-color: #5f5f5f;
    color: #ffffff;
}
#footer-copyright {
    padding: 5px 0;
}








/* Responsive 768px ~ 1024px */
@media screen and (max-width: 1024px) {
    /* Thumbnail */
    #thumbnail {
        padding: 0 12px;
    }
    #thumbnail-img {
        max-width: 720px;
    }
    .thumbnail-btn-wrapper {
        height: 50px;
        width: 50px;
    }
    .thumbnail-btn-bg {
        height: 50px;
        width: 50px;
    }
    .thumbnail-btn-arrow {
        height: 50px;
        width: 50px;
    }

    /* Main */
    #main {
        margin-top: 40px;
    }
    #main-title {
        font-size: 45px;
    }
    #main-search-box-wrapper {
        max-width: 450px;

        margin: 45px auto;
    }
    #main-search-btn {
        height: 30px;

        padding: 0 7.5px;
    }
    #main-search-box {
        height: 45px;

        padding-right: 15px;

        font-size: 18px;
    }

    /* Art */
    .art-wrapper {
        width: 80vw;

        grid-template-columns: repeat(auto-fit, 230px);
    }
    .art {
        height: auto;
        width: 210px;

        margin: 10px 10px;
    }
    .art-img {
        height: 140px;
        width: 210px;
    }

    /* Popup */
    .art-popup {
        height: 400px;
        width: 600px;
    }
    .art-popup-heading-wrapper {
        height: 60px;
    }
    .art-popup-heading-icon {
        height: 40px;

        padding: 0 10px;
    }
    .art-popup-heading {
        font-size: 30px;
    }
    .art-popup-phrase-wrapper {
        margin: 18px 30px;
    }
    .art-popup-phrase {
        font-size: 20px;
    }
    .art-popup-phrase.pron {
        padding-left: 30px;
    }
    .art-popup-phrase.ja {
        padding-left: 30px;
    }
}














/* Responsive ~767px */
@media screen and (max-width: 767px) {
    /* Header */
    #header {
        height: 54px;

        padding: 7px 4vw;
    }
    #header-humberger {
        height: 40px;
    }
    #header-logo {
        height: 40px;
    }
    #header-lang-selecter {
        height: 30px;
        width: 170px;

        padding: 0 10px;

        background-size: 20px;
        background-position: right 10px center;

        font-size: 15px;

        border-bottom: 3px solid #3f3f3f;
    }

    /* Thumbnail */
    #thumbnail {
        padding: 0 0;
    }
    #thumbnail-img {
        width: 70vw;
        max-width: none;

        margin: 0 auto;
    }
    .thumbnail-btn-wrapper {
        display: none;
    }

    /* Main */
    #main {
        margin-top: 25px;
        margin-bottom: 5px;
    }
    #main-title {
        padding: 0 30px;

        font-size: 35px;
    }
    #main-search-box-wrapper {
        margin: 30px auto;
    }
    #main-search-btn {
        height: 25px;

        padding: 0 7.5px;
    }
    #main-search-box {
        height: 40px;

        padding-right: 15px;

        font-size: 16px;
    }

    /* Sect */
    .heading {
        font-size: 30px;

        padding: 0 20px;
    }
    .heading-ul {
        width: 80px;
    }
    .art-wrapper {
        width: 95vw;

        grid-template-columns: repeat(auto-fit, 230px);
    }
    .art {
        height: auto;
        width: 210px;

        margin: 10px 10px;
    }
    .art-img {
        height: 140px;
        width: 210px;
    }

    /* Popup */
    .art-popup {
        height: 300px;
        width: 450px;
    }
    .art-popup-heading-wrapper {
        height: 45px;
    }
    .art-popup-heading-icon {
        height: 30px;

        padding: 0 7.5px;
    }
    .art-popup-heading {
        font-size: 22.5px;
    }
    .art-popup-phrase-wrapper {
        margin: 13.5px 22.5px;
    }
    .art-popup-phrase {
        font-size: 15px;
    }
    .art-popup-phrase.pron {
        padding-left: 22.5px;
    }
    .art-popup-phrase.ja {
        padding-left: 22.5px;
    }

}




@media screen and (max-width: 512px) {
    /* Header */
    #header {
        height: 54px;

        display: block;
        text-align: center;

        padding: 7px 2vw;
    }
    #header-humberger {
        position: absolute;
        left: 10px;
    }
    #header-logo {
        left: -40px;
    }
    #header-lang-selecter {
        display: none;
    }
    
    /* Sect */
    .art-wrapper {
        width: 95vw;

        grid-template-columns: repeat(auto-fit, 45vw);
    }
    .art {
        width: 39vw;
        max-width: 210px;

        margin: 10px 3vw;
    }
    .art-img {
        height: 26vw;
        max-height: 140px;
        width: 39vw;
        max-width: 210px;
    }

    /* Popup */
    .art-popup {
        height: 200px;
        width: 300px;
    }
    .art-popup-heading-wrapper {
        height: 30px;
    }
    .art-popup-heading-icon {
        height: 20px;

        padding: 0 5px;
    }
    .art-popup-heading {
        font-size: 15px;
    }
    .art-popup-phrase-wrapper {
        margin: 9px 15px;
    }
    .art-popup-phrase {
        font-size: 10px;
    }
    .art-popup-phrase.pron {
        padding-left: 15px;
    }
    .art-popup-phrase.ja {
        padding-left: 15px;
    }
}



